<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link type="text/css" rel="stylesheet" href="main.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <link type="text/css" rel="stylesheet" href="skeleton.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="normalize.css"/>
    <script src="app.js">
    </script>
</head>
<body ng-app="bookingApp">
<div ng-controller="bookingController">
    <div class="topicbar">
        <span class="header">Booking Application<span>
    </div>
    <div class="container">
        <form>
          <div class="row">
            <div class="six columns">
              <label for="source">Source</label>
              <input class="u-full-width" type="text" placeholder="<lattitude,longitude>" id="source" ng-model="formObject.source">
            </div>
            <div class="six columns">
              <label for="destination">Destination</label>
              <input class="u-full-width" type="text" placeholder="<lattitude,longitude>" id="destination" ng-model="formObject.destination">
            </div>
          </div>
          <div class="row">
          <div class="six columns">
              <label for="time">Destination reaching time</label>
              <input class="u-full-width" type="time" id="time" name="input" placeholder="HH:mm" ng-model="formObject.time"/>
          </div>
          <div class="six columns">
              <label for="email">Email</label>
              <input class="u-full-width" type="email" placeholder="abc@xyz.com" id="email" ng-model="formObject.email">
          </div>
          </div>
          <br>
          <button class="button-primary" type="submit" ng-click="book()">Book</button>
        </form>  

        <div ng-repeat="x in statusRecord">
        <span ng-class="{ 'greenColor' : statusRecord.indexOf(x) === (statusRecord.length - 1)}">{{x.call}} called at {{x.time}}</span>
        </div>

    </div>

    
</div>
</body>
</html>