.topicbar{
	height:50px;
	background-color: #37474F;
	color:white;
	text-align:center;
}

.container {
	margin:0 auto;
}

.header{
	font-weight:bold;
	font-size: 1.6em;
}

.greenColor {
	color:green;
}